<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCOLkVblKjJdAZhZ4YtjCsVaodSJ3Vu0Us</string>
	<key>GCM_SENDER_ID</key>
	<string>455265051902</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-practice-41b2e</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-practice-41b2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:455265051902:ios:1262e213770e4775eab1af</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-practice-41b2e-default-rtdb.firebaseio.com</string>
</dict>
</plist>